body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    text-align: right;
}

header img {
    width: 80px;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
}

h2 {
    color: #007bff;
    font-size: 24px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 2px;
    background-color: #e0e0e0;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.board-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: rgb(124, 118, 118);
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;

}


.cell.active {
    background-color: #007bff;
    color: #fff;
}

.black-piece {
    background-color: #000;
    color: #fff;
}

.white-piece {
    background-color: #fff;
    color: #000;
}

#piece-count {
    margin-top: 10px;
    font-size: 18px;
}

#message {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}

.buttons button {
    margin-right: 20px;
}

.gamemode {
    font-size: 24px;
    float: right;
    font-weight: bold;
}

.error-message{
    font-size: 24px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color:red;
}

#error-container{
    width: 100%;
    height: 30px;
}

.mensagem {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.mensagem-conteudo {
    background-color: white;
    padding: 80px;
    text-align: center;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 50px;
}


#fechar-mensagem {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 30px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}


#message-container {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: none;
}

#message-fase{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.error-message {
    display: block;
    z-index: 1000;
}

.overlay-classificacoes, .overlay-instrucoes, .overlay-configuracoes {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    overflow-y: scroll;
}

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    min-width: 300px;
}

.menu-container button {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#config-form select,#config-form button {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#config-form input{
    padding:10px;
}

.panel input {
    width: 96%;
}

button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cell.selected {
    background-color: #007bff;
    color: #fff;
}

.empty-adjacent {
    background-color: #64FF33;
    color: red;
}

.removable-piece {
    background-color: #FF3333;
    color: #fff;
}

.scrollable-content {
    max-height: 60vh;
    overflow-y: auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 400px;
    height: auto;
    background-color: #fff;
    border: 1px solid #721414;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}


.login-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    width: 70%;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.login-container button {
    width: 60%;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#classificacoes-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#classificacoes-tabela thead {
    background-color: #007bff;
    color: #ffffff;
}

#classificacoes-tabela thead th {
    padding: 10px;
    text-align: left;
}

#classificacoes-tabela tbody td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

#classificacoes-tabela tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#classificacoes-tabela tbody tr:hover {
    background-color: #ddd;
}

#classificacoes-tabela .black {
    color: #000000;
}

#classificacoes-tabela .white {
    color: #FFFFFF;
}

#classificacoes-div {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

@media screen and (max-width: 600px) {
    #classificacoes-tabela thead {
        display: none;
    }

    #classificacoes-tabela, #classificacoes-tabela tbody, #classificacoes-tabela tr, #classificacoes-tabela td {
        display: block;
        width: 100%;
    }

    #classificacoes-tabela tr {
        margin-bottom: 15px;
    }

    #classificacoes-tabela td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    #classificacoes-tabela td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}


.logo {
    width: 400px;
    height: auto;
    display: flex;
    z-index: 2;
}


.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.button-menu {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
}

.h2menu{
    color: #007bff;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.menu-container button:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.waiting-page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.waiting-content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

